@font-face {
  font-family: 'GangwonEdu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body, button {
  font-family: 'GangwonEdu';
  font-weight: 700;
  background-color: #fffae9;
}
textarea {
  resize: none !important;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#container {
  width: 600px;
  max-width: 600px;
  background-color: $backgroundColor;
}

.none {
  display: none;
}

@mixin fixedContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: $primaryColor;
}

.c-input {
  padding: 14px 20px;
  border: none;
  border: 1px solid $subColor;
  border-radius: 12px;
  width: 100%;
  &:disabled {
    background-color: $disabledColor;
    border: unset;
  }
}
.c-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 36vh;
  background-position-x: center;
  background-color: $primaryColor;
}

.c-title {
  line-height: 24px;
  font-size: 18px;
  color: $secondaryColor;
  width: 100%;
  text-align: center;
}

.c-bold {
  font-weight: 700;
}
.c-light {
  font-weight: 300;
}

.loading {
  @include fixedContainer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  position: fixed;
}

.fadeIn {
  display: block;
  animation: fadeIn 0.3s forwards;
}

.fadeOut {
  animation: fadeOut 0.3s forwards;
}

.none {
  display: none !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}


footer {
  padding: 24px;
  text-align: center;
  color: $subColor;
}