#map {
  width: 100%;
  height: 300px;
  margin: 15px 0px 32px;
}

.map-back-button {
  @include normal-button;
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 12px;
  margin-right: 12px;
  backdrop-filter: blur(5px);
}

.way-to-come {
  &-address {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 300;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  &-item {
    font-weight: 300;
    width: 100%;
    text-align: center;
    & > a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 300;
    }
  }
  &-icon {
    width: 35px;
    margin: 0 auto;
    margin-bottom: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  }
}
.method-to-come {
  margin-top: 48px;
  & > p {
    font-weight: 300;
    margin: 0 30px;

  }
  &-notice {
    max-width: 320px;
  }
}